// В этом файле должны быть стили для БЭМ-блока reviews, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...

.reviews {
  $block-name: &; // #{$block-name}__element

  margin-bottom: 100px;

  &__item {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.1rem;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 40px;
      height: 32px;
      z-index: -1;
      background-image: url('../img/icon-quotes.svg');
    }
  }

  &__info {
    line-height: 2.2rem;
    letter-spacing: -0.3px;
  }
}

@media (max-width: 991.9px) {
  .reviews__items {
    flex-wrap: nowrap;
    margin: 0;
  }
}
