section.feedback.text-center
  .container
    h3.feedback__title Остались вопросы?
    p.feedback__info Отправьте заявку и наши эксперты бесплатно проконсультируют вас. Сделайте первый шаг к успешному заработку сейчас!
    form.feedback__form.row.needs-validation(method='post' action='#' novalidate)
      .col-lg-4.mb-3
        input.feedback__input.form-control(type='text' placeholder='Ваше имя' required)
      .col-lg-4.mb-3
        input.feedback__input.form-control(type='tel' placeholder='Телефон' required)
      .col-lg-4.mb-3
        input.feedback__input.form-control(type='email' placeholder='Электронная почта' required)
      .col-12.mt-3.mb-5
        button.btn-main.btn.btn-danger.rounded-0 отправить
