section.mentor
  .container
    h3.page__content-title.text-uppercase.text-center.mb-5.d-xl-none Персональный наставник
    .mentor__inner.d-lg-flex
      .mentor__item.mb-4
        img.img-fluid(src='img/card.jpg' alt='card')
      .mentor__item.mb-4
        .mentor__content.d-flex.flex-column
          h3.page__content-title.mentor__title.text-uppercase.fw-light.pb-4.d-none.d-xl-block  Персональный наставник
          ul.menlor__list.list-group.mb-4
            li.mentor__list-item.text-muted.list-group-item Индивидуальный план обучения
            li.mentor__list-item.text-muted.list-group-item Разработка персональной стратегии развития
            li.mentor__list-item.text-muted.list-group-item Практические занятия в процессе обучения
            li.mentor__list-item.text-muted.list-group-item Профессиональный разбор ошибок и поиск решений
            li.mentor__list-item.text-muted.list-group-item Рекомендации по увеличению доходности
            li.mentor__list-item.text-muted.list-group-item Онлайн-общение с наставником
            li.mentor__list-item.text-muted.list-group-item Постоянная поддержка на всех этапах
          button.btn-main.btn.btn-danger.align-self-center.mt-auto.rounded-0(type='button') начать обучение
