-
  var optionsItems = [
    {
      "id": "safety",
      "title": "Безопасность - это главное",
      "info": "Знать, что кошелек безопасен, очень важно, и этот вопрос нельзя игнорировать. Вы всегда должны " +
              " проверять,  какой протокол используется на сайте. Также, стоит узнать, используется ли двухфакторная " +
              " система авторизации для доступа к вашему кошельку. Это только некоторые важные моменты."
    },
    {
      "id": "partner",
      "title": "Партнерские программы",
      "info": "Важно знать, что партнерские программы не только выгодны и прибыльны, но и максимально прозрачны. " +
              " Возможность получения в любой момент актуальной статистики и полный список ваших рефералов в личном " +
              " кабинете. Все правила реферальной программы должны быть доступны и максимально понятными."
    },
    {
      "id": "trust",
      "title": "Авторитетность и доверие",
      "info": "Не рекомендуется выбирать электронный кошелек, который только недавно создан. За годы работы компания " +
              " обязана заслужить репутацию безопасного сервиса для хранения цифровых денег. Важно ознакомиться " +
              " также с отзывами и независимыми обзорами о выбранном электронном кошельке."
    },
    {
      "id": "percent",
      "title": "Комиссия за вывод",
      "info": "Перед тем, как открыть электронный кошелек, и начать его использование, обязательно прочтите все " +
              " правила, прописанные в договоре-оферте. Даже если за возможность использования услуг сервиса вам " +
              " платить не придется, то чтобы вывести деньги на карту банка, комиссию внести придется в любом случае."
    },
    {
      "id": "feedback",
      "title": "Обратная связь",
      "info": "Как будущему клиенту сервиса, важно знать о моментах работы службы поддержки. Главные критерии " +
              " службы поддержки - скорость ответа, полезность полученного сообщения и, конечно, качество общения. " +
              " Также обязательно учитывайте какие предоставляются варианты связи с технической поддержкой."
    },
    {
      "id": "mobile",
      "title": "Легкость использования",
      "info": "Требуется учитывать насколько просто применять выбранный электронный кошелек. Удобство и " +
              " функциональность  - это один из основных критериев, на который стоит обращать внимание при выборе. " +
              " Важно, чтобы функционал сервиса был интуитивно понятен и удобен в использовании."
    }
  ]

section.options.text-center
  .container
    h3.page__content-title.text-uppercase.mb-5 Критерии выбора
    .options__inner.pe-3.ps-3.mb-5.swiper-container
      .options__items.row.swiper-wrapper
        each item in optionsItems
          .options__item-wrapper.col-xl-4.col-md-6.d-flex.swiper-slide
            .options__item(class=`options__item--${item.id}`)
              h6.options__title.text-uppercase.fw-bolder.mb-3= item.title
              p.options__info.text-muted= item.info
      .options__pagination.swiper-pagination
    a.btn-main.btn.btn-danger.rounded-0(href='#') Узнать больше
